fastapi
uvicorn
pandas
requests
websockets
python-dotenv
aiohttp
jinja2
python-multipart
sqlalchemy
psycopg2-binary
joblib
numpy
xgboost
scikit-learn
yfinance
transformers
torch
accelerate
feedparser
